<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button
    [routerLink]="['/addmasjid']"
    routerLinkActive="router-link-active"
    expand="block"
    shape="round"
  >
    Add Masjid
  </ion-button>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Sr_no</th>
          <th scope="col">Masjid Name</th>
          <th scope="col">Area</th>
          <th scope="col">Fajr</th>
          <th scope="col">Zuhar</th>
          <th scope="col">Asr</th>
          <th scope="col">Magrib</th>
          <th scope="col">Isha</th>
          <th scope="col">Juma 1</th>
          <th scope="col">Juma 2</th>
          <th scope="col">Juma 3</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let masjid of times; index as i">
          <th scope="row">{{i+1}}</th>
          <td>{{masjid.masjid_name}}</td>
          <td>{{masjid.area}}</td>
          <td>{{masjid.fajr|convertFrom24To12Format}}</td>
          <td>{{masjid.zuhar|convertFrom24To12Format}}</td>
          <td>{{masjid.asr|convertFrom24To12Format}}</td>
          <td>{{masjid.magrib|convertFrom24To12Format}}</td>
          <td>{{masjid.isha|convertFrom24To12Format}}</td>
          <td>{{masjid.juma_1|convertFrom24To12Format}}</td>
          <td *ngIf="masjid.juma_2">
            {{masjid.juma_2 |convertFrom24To12Format }}
          </td>
          <td *ngIf="masjid.juma_3">
            {{masjid.juma_3|convertFrom24To12Format }}
          </td>
          <td *ngIf="!masjid.juma_2">NA</td>
          <td *ngIf="!masjid.juma_3">NA</td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
